* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projectContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
    filter: brightness(90%);
    /*background: url(/projectes.avif) no-repeat center center;
    background-size: cover;*/
    background: radial-gradient(circle at 20% 30%, #5f2cff, transparent 25%),
        radial-gradient(circle at 80% 70%, #00d4ff, transparent 25%),
        #0a0a0a;
}